.header{
    &-nav{
    display: flex;
    justify-content:space-between;
    height: 100%;


    }
     &-link{
         display: flex;
         width: 522px;
         height: auto;
         border: 1px solid black ;
         border-right: 0px;
         border-top: 0px;
         padding: 20px;
         align-items: center;
         justify-content: center;
         text-align: center

     }
     &-img{
         @extend .header-link;
         width: 116px;
         height: 100%;
         
     }
     &-icone{
         padding: 2px
     }
     &-apple{
         border-left: 0px
     }
}
.article{
    &-discreption{
        width: 521px;
    }
    &-par{
        width: 380px;
        height: 80px;
        margin: 40px;
        margin-left: 115px
    }

    h1{
       z-index: 1;
        letter-spacing: 4px;
        transform:translate(-60px,675px)
    }
    &-product{
        display: flex;
        align-items: flex-start;
        flex-flow: column


    }
    &-theme{
        display: flex;
        align-items: flex-start;
        height:500px ;
        width: 400px;
        transform: translate(-120px,0px)
    }
    &-color{
        margin-left: 52px;
        margin-top: 68px
    }
    &-product-3{
        border: 1px solid #000000;
        transform: translate(-31px,-89px)
    }
    &-img-3{
        transform: translate(-38px,-26px)
    }
}
.aside{
    &-buy{
        background: #B8B6B6;
        display: flex;
    }
    &-discreption{
        height: 80px;
        width: 380px;
        margin: 49px 60px;
        color: #ffffff
    }
    &-btn{
        margin-top: 40px;
        padding: 45px;
        border: 1px solid #ffffff;
        border-radius: 50%
    }

}