.grid{
    display: grid;
    grid-template-rows: 116px 1fr;
    row-gap: 0px;
    grid-template-areas: 
    'head'
    'main'
}
.header{
    grid-area: head;
    
    height: 116px;
    width: 100%;
    


}
.main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 640px;
    grid-template-areas: 
    'article aside'
}
.article{
    
    grid-area: article;
    display: flex;
   
}
.aside{
    grid-area: aside
}
