.head{
   display:flex; 
   justify-content: space-between;
   align-items: center;
   height: 59px;
   border-bottom: 1px solid #D8D8D8;
   padding: 40px;
}

main{
    
    max-width: 1270px;
    width: 100%;
    padding: 30px 0px 30px 80px;
}
.form{
    max-width: 1270px;
    
}