@font-face {
 font-family: 'MonumentExtended';
 src: url("fonts/MonumentExtended-Regular.woff2") format("woff2"),
        url("fonts/MonumentExtended-Regular.woff") format("woff"),
        url("fonts/MonumentExtended-Regular.ttf") format("ttf"),
        url("fonts/MonumentExtended-Regular.otf") format("otf");
        font-weight : 400;

}